  services:

    app:
      build:
        context: .
        dockerfile: Dockerfile
      ports:
        - "8080:8080"
      depends_on:
        postgres:
          condition: service_healthy

    postgres:
      image: postgres:17.4-alpine3.21
      environment:
        POSTGRES_DB: postgres
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: secret
        PGDATA: /var/lib/postgresql/data
      volumes:
        - postgresql-data:/var/lib/postgresql
      ports:
        - "127.0.0.1:5433:5432"
      healthcheck:
        test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "postgres" ]
        interval: 5s
        retries: 5

  volumes:
    postgresql-data: